{% if site.data.cv.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Selected Projects</h2>

  {% for company in site.data.cv.projects %}
    <h3 class="company">{{ company.name }}</h3>

    {% for project in company.projects %}
      <div class="item">

        <div class="meta">
          <div class="upper-row">
            <h4>{{ project.name }}</h4>
            <div class="time">{{ project.time }}</div>
          </div><!--//upper-row-->
        </div><!--//meta-->

        {% if project.details %}
        <span class="project-tagline">{{ project.details }}</span>
        {% endif %}

        {% if project.responsibilities %}
        <ul>
          {%for responsibility in project.responsibilities %}
          <li>{{ responsibility }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if project.technologies %}
        <span>Technologies: {{ project.technologies }}.</span>
        {% endif %}

      </div><!--//item-->
    {% endfor%}
  {% endfor%}

</section><!--//section-->
{% endif %}
