<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3088225-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3088225-5');
    </script>

    <title>{{ page.title }} :: Libor Kramoliš</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav>
<ul>
  <li><a href="/">&#x1F3E0;</a></li>
</ul>
    </nav>

<div class="container">
  {{ content }}
</div>

  <footer>
   <ul>
     <li>libor (at) kramolis.cz</li>
   </ul>
  </footer>
  </body>

</html>
